.main-currency-table .second-currency-table {
    display: inline-block;
    width: 930px;
}
.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider {
    justify-content: center;
}